body
    {
    	background-color: #F1B9F0;
    }

a:link, a:visited
    {
    	color:green;
    	background-color: #78CCFF;
    	text-decoration: none;
    	padding: 15px;
    }

a:hover
    {
    	color:red;
    	background-color: #8090FF;
    	text-decoration: underline;
    	text-align: center;
    	display: inline-block;
    	font-family: verdana;
    }

a:active
    {
    	color:#C8964C;
    	background-color: #E43553;
    	text-decoration: underline;
    }